# Let's learn Pandas by looking at some Covid19 data
For testing purposes, we're going to get the data (csv) once
Only if we decide to make this public will we get live data

In [1]:
import pandas as pd

df = pd.read_csv("owid-covid-data.csv")

## Some useful information to start off

In [8]:
# the first n (5, by default) rows 
df.head(1)
# display the last n (5, by default) rows 
df.tail(1)
# column info - names, data type etc
df.info()
# column list
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44996 entries, 0 to 44995
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         44731 non-null  object
 1   continent                        44466 non-null  object
 2   location                         44996 non-null  object
 3   date                             44996 non-null  object
 4   total_cases                      44393 non-null  float64
 5   new_cases                        44192 non-null  float64
 6   new_cases_smoothed               43410 non-null  float64
 7   total_deaths                     44393 non-null  float64
 8   new_deaths                       44192 non-null  float64
 9   new_deaths_smoothed              43410 non-null  float64
 10  total_cases_per_million          44128 non-null  float64
 11  new_cases_per_million            44128 non-null  float64
 12  new_cases_smoothed_per_million   43345 non-null  float64
 13  total_deaths_per_million         44128 non-null  float64
 14  new_deaths_per_million           44128 non-null  float64
 15  new_deaths_smoothed_per_million  43345 non-null  float64
 16  new_tests                        15647 non-null  float64
 17  total_tests                      16022 non-null  float64
 18  total_tests_per_thousand         16022 non-null  float64
 19  new_tests_per_thousand           15647 non-null  float64
 20  new_tests_smoothed               17568 non-null  float64
 21  new_tests_smoothed_per_thousand  17568 non-null  float64
 22  tests_per_case                   16149 non-null  float64
 23  positive_rate                    16533 non-null  float64
 24  tests_units                      18374 non-null  object
 25  stringency_index                 37080 non-null  float64
 26  population                       44731 non-null  float64
 27  population_density               42701 non-null  float64
 28  median_age                       40138 non-null  float64
 29  aged_65_older                    39543 non-null  float64
 30  aged_70_older                    39930 non-null  float64
 31  gdp_per_capita                   39625 non-null  float64
 32  extreme_poverty                  26444 non-null  float64
 33  cardiovasc_death_rate            40153 non-null  float64
 34  diabetes_prevalence              41559 non-null  float64
 35  female_smokers                   31499 non-null  float64
 36  male_smokers                     31102 non-null  float64
 37  handwashing_facilities           18750 non-null  float64
 38  hospital_beds_per_thousand       36304 non-null  float64
 39  life_expectancy                  44170 non-null  float64
 40  human_development_index          38737 non-null  float64
dtypes: float64(36), object(5)
memory usage: 14.1+ MB

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

## Single column data (series)

In [17]:
print(type(df['iso_code']))
print(df['iso_code'].head())

<class 'pandas.core.series.Series'>
0    AFG
1    AFG
2    AFG
3    AFG
4    AFG
Name: iso_code, dtype: object

## Multi column data (dataframe)

In [18]:
print(type(df[['iso_code','location']]))
print(df[['iso_code','location']])

<class 'pandas.core.frame.DataFrame'>
      iso_code       location
0          AFG    Afghanistan
1          AFG    Afghanistan
2          AFG    Afghanistan
3          AFG    Afghanistan
4          AFG    Afghanistan
...        ...            ...
44991      NaN  International
44992      NaN  International
44993      NaN  International
44994      NaN  International
44995      NaN  International

[44996 rows x 2 columns]

## iloc - integer location

In [49]:
# using single int - a series of the row at int location
df.iloc[0]
# using two int arg - returns the value at row 101 and column 2
df.iloc[101,2]

df.iloc[1:3,2]

1    0.0
2    0.0
Name: total_cases, dtype: float64

## iloc slicing

In [21]:
df.iloc[1:4]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [22]:
df.iloc[1:6:3]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

iso_code                                     NaN
continent                                    NaN
location                           International
date                                  2020-09-20
total_cases                                  696
new_cases                                    NaN
new_cases_smoothed                           NaN
total_deaths                                   7
new_deaths                                   NaN
new_deaths_smoothed                          NaN
total_cases_per_million                      NaN
new_cases_per_million                        NaN
new_cases_smoothed_per_million               NaN
total_deaths_per_million                     NaN
new_deaths_per_million                       NaN
new_deaths_smoothed_per_million              NaN
new_tests                                    NaN
total_tests                                  NaN
total_tests_per_thousand                     NaN
new_tests_per_thousand                       NaN
new_tests_smoothed                           NaN
new_tests_smoothed_per_thousand              NaN
tests_per_case                               NaN
positive_rate                                NaN
tests_units                                  NaN
stringency_index                             NaN
population                                   NaN
population_density                           NaN
median_age                                   NaN
aged_65_older                                NaN
aged_70_older                                NaN
gdp_per_capita                               NaN
extreme_poverty                              NaN
cardiovasc_death_rate                        NaN
diabetes_prevalence                          NaN
female_smokers                               NaN
male_smokers                                 NaN
handwashing_facilities                       NaN
hospital_beds_per_thousand                   NaN
life_expectancy                              NaN
human_development_index                      NaN
Name: 44995, dtype: object

## iloc for x, y co-ordinated

In [24]:
df.iloc[2,1]

'Asia'

## iterate rows

In [28]:
for i, r in df.iloc[0:2].iterrows():
    print(r)

iso_code                                   AFG
continent                                 Asia
location                           Afghanistan
date                                2019-12-31
total_cases                                  0
new_cases                                    0
new_cases_smoothed                         NaN
total_deaths                                 0
new_deaths                                   0
new_deaths_smoothed                        NaN
total_cases_per_million                      0
new_cases_per_million                        0
new_cases_smoothed_per_million             NaN
total_deaths_per_million                     0
new_deaths_per_million                       0
new_deaths_smoothed_per_million            NaN
new_tests                                  NaN
total_tests                                NaN
total_tests_per_thousand                   NaN
new_tests_per_thousand                     NaN
new_tests_smoothed                         NaN
new_tests_smoothed_per_thousand            NaN
tests_per_case                             NaN
positive_rate                              NaN
tests_units                                NaN
stringency_index                           NaN
population                         3.89283e+07
population_density                      54.422
median_age                                18.6
aged_65_older                            2.581
aged_70_older                            1.337
gdp_per_capita                         1803.99
extreme_poverty                            NaN
cardiovasc_death_rate                  597.029
diabetes_prevalence                       9.59
female_smokers                             NaN
male_smokers                               NaN
handwashing_facilities                  37.746
hospital_beds_per_thousand                 0.5
life_expectancy                          64.83
human_development_index                  0.498
Name: 0, dtype: object
iso_code                                   AFG
continent                                 Asia
location                           Afghanistan
date                                2020-01-01
total_cases                                  0
new_cases                                    0
new_cases_smoothed                         NaN
total_deaths                                 0
new_deaths                                   0
new_deaths_smoothed                        NaN
total_cases_per_million                      0
new_cases_per_million                        0
new_cases_smoothed_per_million             NaN
total_deaths_per_million                     0
new_deaths_per_million                       0
new_deaths_smoothed_per_million            NaN
new_tests                                  NaN
total_tests                                NaN
total_tests_per_thousand                   NaN
new_tests_per_thousand                     NaN
new_tests_smoothed                         NaN
new_tests_smoothed_per_thousand            NaN
tests_per_case                             NaN
positive_rate                              NaN
tests_units                                NaN
stringency_index                             0
population                         3.89283e+07
population_density                      54.422
median_age                                18.6
aged_65_older                            2.581
aged_70_older                            1.337
gdp_per_capita                         1803.99
extreme_poverty                            NaN
cardiovasc_death_rate                  597.029
diabetes_prevalence                       9.59
female_smokers                             NaN
male_smokers                               NaN
handwashing_facilities                  37.746
hospital_beds_per_thousand                 0.5
life_expectancy                          64.83
human_development_index                  0.498
Name: 1, dtype: object

## loc - column name
(also referred to as Boolean indexing, I think)

**Note**: loc returns a dataframe. So, you can do other dataframe stuff on the output of loc

In [30]:
df.loc[df['iso_code'] == 'AFG'].tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
260,AFG,Asia,Afghanistan,2020-09-16,38855.0,40.0,47.857,1436.0,10.0,2.571,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
261,AFG,Asia,Afghanistan,2020-09-17,38872.0,17.0,46.857,1436.0,0.0,2.286,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
262,AFG,Asia,Afghanistan,2020-09-18,38872.0,0.0,42.857,1436.0,0.0,2.286,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
263,AFG,Asia,Afghanistan,2020-09-19,38919.0,47.0,44.714,1437.0,1.0,2.429,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
264,AFG,Asia,Afghanistan,2020-09-20,39044.0,125.0,57.571,1441.0,4.0,3.000,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

## Get some overall stats about the dataframe

In [44]:
df[(df['iso_code'] == 'AFG') & (df['total_cases'] > 0)].describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,...,1.990000e+02,0.0,1.990000e+02,1.990000e+02,0.0,0.0,1.990000e+02,199.0,1.990000e+02,199.000
mean,20001.296482,196.201005,195.311518,620.015075,7.241206,7.201759,513.797869,5.040075,5.017191,15.927075,...,1.803987e+03,NaN,5.970290e+02,9.590000e+00,NaN,NaN,3.774600e+01,0.5,6.483000e+01,0.498
std,16147.603367,241.410166,224.256466,573.322943,10.260354,7.393063,414.803263,6.201430,5.760748,14.727607,...,2.279471e-13,NaN,2.279471e-13,3.561674e-15,NaN,NaN,7.123348e-15,0.0,1.424670e-14,0.000
min,1.000000,0.000000,0.143000,0.000000,0.000000,0.000000,0.026000,0.000000,0.004000,0.000000,...,1.803987e+03,NaN,5.970290e+02,9.590000e+00,NaN,NaN,3.774600e+01,0.5,6.483000e+01,0.498
25%,1316.000000,22.000000,41.714000,42.500000,0.000000,1.571000,33.806000,0.565500,1.072000,1.092000,...,1.803987e+03,NaN,5.970290e+02,9.590000e+00,NaN,NaN,3.774600e+01,0.5,6.483000e+01,0.498
50%,23546.000000,82.000000,77.429000,446.000000,3.000000,4.000000,604.855000,2.106000,1.989000,11.457000,...,1.803987e+03,NaN,5.970290e+02,9.590000e+00,NaN,NaN,3.774600e+01,0.5,6.483000e+01,0.498
75%,36710.000000,279.500000,292.714000,1283.000000,10.000000,12.285500,943.015000,7.180000,7.519500,32.958000,...,1.803987e+03,NaN,5.970290e+02,9.590000e+00,NaN,NaN,3.774600e+01,0.5,6.483000e+01,0.498
max,39044.000000,1063.000000,758.571000,1441.000000,56.000000,27.143000,1002.971000,27.307000,19.486000,37.017000,...,1.803987e+03,NaN,5.970290e+02,9.590000e+00,NaN,NaN,3.774600e+01,0.5,6.483000e+01,0.498

## Sorting

In [36]:
# single column
df.sort_values('iso_code', ascending=False) ## ascending is optional
# multiple columns
df.sort_values(['iso_code','total_cases'], ascending=[False,True]) #descending on first (ascending=False); ascending on second (ascending=True)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
44282,ZWE,Africa,Zimbabwe,2020-03-21,1.0,1.0,NaN,0.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
44283,ZWE,Africa,Zimbabwe,2020-03-22,2.0,1.0,NaN,0.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
44284,ZWE,Africa,Zimbabwe,2020-03-23,2.0,0.0,NaN,0.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
44285,ZWE,Africa,Zimbabwe,2020-03-24,2.0,0.0,NaN,1.0,1.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
44286,ZWE,Africa,Zimbabwe,2020-03-25,2.0,0.0,NaN,1.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44796,NaN,NaN,International,2020-03-05,705.0,NaN,0.0,6.0,NaN,0.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44797,NaN,NaN,International,2020-03-06,705.0,NaN,0.0,6.0,NaN,0.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44798,NaN,NaN,International,2020-03-07,705.0,NaN,0.0,6.0,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44799,NaN,NaN,International,2020-03-08,705.0,NaN,0.0,6.0,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44800,NaN,NaN,International,2020-03-09,705.0,NaN,0.0,6.0,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Shortened df
So we can look at stuff a little eariser
We're removing all the computed fields

In [29]:
df = df[['iso_code', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'new_tests', 'total_tests',
       'population', 'female_smokers', 'male_smokers']]

In [30]:
df.head()

,iso_code,date,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,population,female_smokers,male_smokers
0,AFG,2019-12-31,0.0,0.0,0.0,0.0,NaN,NaN,38928341.0,NaN,NaN
1,AFG,2020-01-01,0.0,0.0,0.0,0.0,NaN,NaN,38928341.0,NaN,NaN
2,AFG,2020-01-02,0.0,0.0,0.0,0.0,NaN,NaN,38928341.0,NaN,NaN
3,AFG,2020-01-03,0.0,0.0,0.0,0.0,NaN,NaN,38928341.0,NaN,NaN
4,AFG,2020-01-04,0.0,0.0,0.0,0.0,NaN,NaN,38928341.0,NaN,NaN

## Now some computed fields
total_smokers = female_smokers + male_smokers

In [43]:
# using iloc - first arg is number of ci
df['total_smokers'] = df.iloc[:, 10:11].sum(axis=1)

In [42]:
df[df['total_smokers'] > 0]

,iso_code,date,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,population,female_smokers,male_smokers,total_smokers
265,ALB,2020-03-09,2.0,2.0,0.0,0.0,NaN,NaN,2.877800e+06,7.100,51.200,102.40
266,ALB,2020-03-10,6.0,4.0,0.0,0.0,NaN,NaN,2.877800e+06,7.100,51.200,102.40
267,ALB,2020-03-11,10.0,4.0,0.0,0.0,NaN,NaN,2.877800e+06,7.100,51.200,102.40
268,ALB,2020-03-12,11.0,1.0,1.0,1.0,NaN,NaN,2.877800e+06,7.100,51.200,102.40
269,ALB,2020-03-13,23.0,12.0,1.0,0.0,NaN,NaN,2.877800e+06,7.100,51.200,102.40
...,...,...,...,...,...,...,...,...,...,...,...,...
44726,OWID_WRL,2020-09-16,29626519.0,303965.0,936025.0,6955.0,NaN,NaN,7.794799e+09,6.434,34.635,69.27
44727,OWID_WRL,2020-09-17,29917981.0,291462.0,941460.0,5435.0,NaN,NaN,7.794799e+09,6.434,34.635,69.27
44728,OWID_WRL,2020-09-18,30232252.0,314271.0,946778.0,5318.0,NaN,NaN,7.794799e+09,6.434,34.635,69.27
44729,OWID_WRL,2020-09-19,30541543.0,309291.0,952726.0,5948.0,NaN,NaN,7.794799e+09,6.434,34.635,69.27
44730,OWID_WRL,2020-09-20,30835922.0,294379.0,957790.0,5064.0,NaN,NaN,7.794799e+09,6.434,34.635,69.27